{% extends 'base.html.twig' %}
{% block title %}EatYV | New Recipe
{% endblock %}
{% block body %}
	{% include('nav.html.twig') %}<br><br><br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<div class="card bg-light">
					<div class="card-body">
						<h1 class="text-center">Create reservation</h1>
						{% if app.user %}
							{{ form_start(form) }}
								{{ form_row(form.reservationForFirstName) }}
								{{ form_row(form.reservationForSecondName) }}
								{{ form_row(form.userReservaionId) }}
								{{ form_row(form.recipeReservaionId) }}
								{{ form_row(form.message) }}

						<button class="btn btn-orange btn-block">Register</button>
						{{ form_end(form) }}
							{% else %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include('footer.html.twig') %}
{% endblock %}