{% extends 'base.html.twig' %}
{% block title %}EatYV | Your reservations
{% endblock %}
{% block body %}
	{% include('nav.html.twig') %}
	<center>
		<h2>Your reservations</h2>
	</center><br>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }}" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			{% for reservation in reservation %}
				<div class="col-6 offset-3">
					<div class="card bg-light card-register-login">
						<div class="card-body">
						<center>
							<h2><b> Recipe name: {{ reservation.getRecipeReservaionId().title }}</b></h2>
						</center>
							<br>
							<div class="card-header">
								<b>Reservation for:</b>
								{{ reservation.reservationForFirstName }}
								{{ reservation.reservationForSecondName }}
							</div>
							<div class="card-body">
								<b>Message:</b>
								{{ reservation.message }}
							</div>
							<div class="card-header">
								<b>Persons arriving:</b>
								{{ reservation.personsParticipate }}
							</div>
							<div class="card-body">
								<b>Date arriving:</b>
								{{ reservation.dateTimeComing|date("d/m/Y g:ia") }}
							</div>
							<div class="card-header">
								<a href="/edit-reservation/{{ reservation.reservationId }}" class="btn btn-dark">Edit reservation</a>
								<a href="{{ path('delete_reservation', {'reservationId': reservation.reservationId }) }}" class="btn btn-danger pull-right">Delete reservation</a>
							</div>
							<div class="card-header">
								<center>
									<a href="/show-recipe/{{ reservation.getRecipeReservaionId().recipeId }}" class="btn btn-orange"> Go to recipe</a>
								</center>
							</div>
						</div>
					</div><br><br><br>
				</div>

			{% else %}
				<div class="col-6 offset-3">
					<div class="card bg-light card-register-login">
						<div class="card-body">
							<br><div class="card-header">
								<p>No reservations to display</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="navigation text-center">
			{{ knp_pagination_render(reservation) }}
		</div>
	</div>
{% endblock %}
