{% extends 'base.html.twig' %}
{% block body %}
	{% include('nav.html.twig') %}
	<center>
		<h2>Your own recipes</h2>
	</center><br>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }}" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			{% for recipe in recipes %}
				<div class="col-6 offset-3">
					<div class="card bg-light card-register-login">
						<div class="card-body">
							<br>
							<div class="card-header">
								<center><img src="{{ asset('uploads/') ~ recipe.image }}" width="300"></center>
							</div>
							<div class="card-body">
								<b>Title:</b>
								{{ recipe.title }}
							</div>
							<div class="card-header">
								<b>Date start/end:</b>
								{{ recipe.dateStart|date("d/m/Y g:ia") }}
								|
								{{ recipe.dateEnd|date("d/m/Y g:ia") }}
							</div>
							<div class="card-body">
								<b>Price:</b>
								{{ recipe.price }}
							</div>
							<div class="card-header">
								<b>Address:</b>
								{{ recipe.address }}
								{{ recipe.city }}
								{{ recipe.country }}
							</div>
							<div class="card-body">
								<a href="/show-recipe/{{ recipe.recipeId }}" class="btn btn-orange">Show recipe</a>

								<a href="/edit-recipe/{{ recipe.recipeId }}" class="btn btn-dark position-button">Edit recipe</a>

								<a href="{{ path('delete_recipe', {'recipeId': recipe.recipeId}) }}" class="btn btn-danger pull-right">Delete recipe</a>
							</div>
							<div class="card-body">
								<center>
									<a href="/show-reservations-for-specific-recipe/{{ recipe.recipeId }}" class="btn btn-orange">Check if you have reservations for this recipe</a>
								</center>
							</div>
						</div>
					</div><br><br><br>
				</div>
				<a id="button"></a>

			{% else %}
				<div class="col-6 offset-3">
					<div class="card bg-light card-register-login">
						<div class="card-body">
							<br><div class="card-header">
								<p>No recipes to display</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
