{% extends 'base.html.twig' %}

{% block title %}EatYV |
	{{ recipe.title }}
{% endblock %}

{% block body %}
	{% include('nav.html.twig') %}<br>
	<div class="container">
		<div class="row">

			<div class="col-6 offset-3">
				<div class="card bg-light card-register-login">
					<div class="card-body">
						<br><div class="card-header">
							<center><img src="{{ asset('uploads/') ~ recipe.image }}" width="300"></center>
						</div>
						<div class="card-body">
							<b>Title:</b>
							{{ recipe.title }}
						</div>
						<div class="card-header">
							<b>Description:</b>
							{{ recipe.description }}
						</div>
						<div class="card-body">
							<center>
								<button button onclick="window.history.go(-1); return false;" class="btn btn-orange">Back</button>
							</center>
						</div>
						<div class="card-body">
							{% if recipe.getAuthor().getUserId() == app.user.userId %}
								<a href="/edit-recipe/{{ recipe.recipeId }}" class="btn btn-dark">Edit recipe</a>
								<a href="{{ path('delete_recipe', {'recipeId': recipe.recipeId}) }}" class="btn btn-danger pull-right">Delete recipe</a>
							{% else %}
								<center>
									<a href="/show-owner-profile/{{ recipe.getAuthor().getUserId() }}" class="btn btn-orange">See who created this recipe</a>
								</center>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		{% if recipe.getAuthor().getUserId() == app.user.userId %}
			<center>
				<a href="/show-reservations-for-specific-recipe/{{ recipe.recipeId }}" class="btn btn-orange">Check if you have reservations for this recipe</a>
			</center>
		{% else %}
			<center>
				<a href="/new-reservation/{{ recipe.recipeId }}" class="btn btn-orange">Create reservation</a>
			</center>
		{% endif %}
	</div>
	{% include('footer.html.twig') %}
{% endblock %}
