{% extends 'base.html.twig' %}

{% block title %}EatYV |
	{{ recipe.title }}
{% endblock %}

{% block body %}
	{% include('nav.html.twig') %}<br>
	<div class="container">
		<div class="row">

			<div class="col-6 offset-3">
				<div class="card bg-light card-register-login">
					<div class="card-body">


						<br><div class="card-header">
							<b>Title:</b>
							{{ recipe.title }}
						</div>
						<div class="card-body">
							<b>Description:</b>
							{{ recipe.description }}
						</div>

						<div class="card-header">
							<center>
								<a href="/" class="btn btn-dark">Back</a>
							</center>
						</div>
						<div class="card-body">
							{% if recipe.getAuthor().getUserId() == app.user.userId %}
								<a href="/edit-recipe/{{ recipe.recipeId }}" class="btn btn-dark">Edit recipe</a>
								<a href="{{ path('delete_recipe', {'recipeId': recipe.recipeId}) }}" class="btn btn-danger pull-right">Delete recipe</a>
							{% else %}
								<center>
									<a href="/show-owner-profile/{{ recipe.getAuthor().getUserId() }}" class="btn btn-orange">See who created this recipe</a>
								</center>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{# include reservations and reviews #}
			{# {% include('reservation/new.html.twig') %} 
		</div>
	</div>
	{% include('footer.html.twig') %}
{% endblock %}
