{% extends 'base.html.twig' %}
{% block title %}EatYV
{% endblock %}
{% block body %}
	{% include('nav.html.twig') %}
	<center>
		<h2>Reviews for this recipe</h2>
	</center><br>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }}" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			{% for showReview in showReview %}
				<div class="col-6 offset-3">
					<div class="card bg-light card-register-login">
						<div class="card-body">
							<div class="card-header">
								<b>Grade:</b>
								{{ showReview.grade }}
							</div>
							<div class="card-body">
								<b>Message:</b>
								{{ showReview.comment }}
							</div>
						</div>
						{% if showReview.getUserReviewRecipeId().getUserId() == app.user.userId %}
							<div class="card-header">
								<a href="/edit-review-recipe/{{ showReview.recipeReviewId }}" class="btn btn-dark">Edit review</a>
								<a href="/delete-recipe-review/{{ showReview.recipeReviewId }}" class="btn btn-danger pull-right">Delete review</a>
							</div>
						{% endif %}
					</div><br>
				</div>
			{% else %}
				<div class="col-6 offset-3">
					<div class="card bg-light card-register-login">
						<div class="card-body">
							<br><div class="card-header">
								<p>This recipe has no reviews</p>
							</div>
						</div>
					</div>
				{% endfor %}<br>
			</div>
			<center>
				<button onclick="window.history.go(-1); return false;" class="btn btn-orange">Back to recipe</button>
			</center><br>
		</div>
	</div>
	<div class="container">
		<div class="navigation text-center">
			{{ knp_pagination_render(showReview) }}
		</div>
	</div>
{% endblock %}
